body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.profiles_grid {
    display: grid;
    gap: 5%;
    grid-template-columns: 15% 15% 15% 15% 15%;
    margin: 0px 10vw;
}

.profile_container {
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    
}

.profile_container > img {
    width: 100%;
    min-height: 50%;
    min-width: 90%;
    filter: brightness(90%);
    border-radius: 20px 20px 0px 0px;
    
    transition: filter 0.2s;
}

.profile_container > img:hover {
    filter: brightness(100%);
}